<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  <add key="ntb-nuget" value="http://nexus.ntbx.tech/repository/ntb-nuget/" />
</packageSources>
  <packageSourceCredentials>
    <ntb-nuget>
      <add key="Username" value="developer" />
      <add key="ClearTextPassword" value="goteamntb" />
    </ntb-nuget>
  </packageSourceCredentials>
</configuration>